*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

height:100vh;

background:
linear-gradient(rgba(35,0,70,.45),rgba(10,0,25,.75)),
url("images/wallpaper.png");

background-size:cover;
background-position:center;
background-repeat:no-repeat;

overflow:hidden;

font-family:'Poppins',sans-serif;

animation:zoom 18s infinite alternate;

}

@keyframes zoom{

from{
background-size:100%;
}

to{
background-size:108%;
}

}

.overlay{

height:100vh;

display:flex;

flex-direction:column;

justify-content:space-between;

align-items:center;

padding:70px 25px;

}

.title{

font-family:'Cormorant Garamond',serif;

color:white;

font-size:38px;

text-align:center;

text-shadow:0 0 20px #000;

}

.heart{

font-size:95px;

cursor:pointer;

position:relative;

animation:heartbeat 1.4s infinite;

filter:drop-shadow(0 0 18px #ff4fd8);

}

@keyframes heartbeat{

0%{
transform:scale(1);
}

25%{
transform:scale(1.08);
}

50%{
transform:scale(.98);
}

75%{
transform:scale(1.12);
}

100%{
transform:scale(1);
}

}

.heart span{

position:absolute;

top:45%;

left:50%;

transform:translate(-50%,-50%);

font-size:16px;

font-weight:600;

color:white;

}

.bottom{

text-align:center;

color:white;

}

.bottom p{

font-size:18px;

margin-bottom:15px;

}

.arrow{

font-size:32px;

animation:arrowmove 1s infinite;

}

@keyframes arrowmove{

0%{
transform:translateY(0);
}

50%{
transform:translateY(-10px);
}

100%{
transform:translateY(0);
}

}
