*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,body{
    width:100%;
    height:100%;
    overflow:hidden;
    font-family:'Poppins',sans-serif;
}

body{

    background:
    linear-gradient(
    rgba(25,8,50,.35),
    rgba(8,0,20,.72)),
    url("images/wallpaper.png");

    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;

    animation:zoom 20s ease-in-out infinite alternate;

}

@keyframes zoom{

    from{
        background-size:100%;
    }

    to{
        background-size:108%;
    }

}

.overlay{

    width:100%;
    height:100vh;

    display:flex;
    flex-direction:column;
    align-items:center;

    padding-top:90px;
    padding-bottom:45px;

}

.title{

    font-family:'Cormorant Garamond',serif;

    font-size:46px;

    color:#ffffff;

    text-align:center;

    line-height:1.1;

    text-shadow:
    0 0 10px rgba(255,255,255,.15),
    0 0 25px rgba(0,0,0,.8);

    margin-bottom:55px;

}

.heart{

    position:relative;

    font-size:135px;

    cursor:pointer;

    animation:heartbeat 1.6s infinite;

    filter:
    drop-shadow(0 0 8px #c88cff)
    drop-shadow(0 0 20px #b14cff)
    drop-shadow(0 0 40px #8d4dff);

}

@keyframes heartbeat{

    0%{

        transform:scale(1);

    }

    20%{

        transform:scale(1.08);

    }

    40%{

        transform:scale(.97);

    }

    60%{

        transform:scale(1.12);

    }

    100%{

        transform:scale(1);

    }

}

.heart span{

    position:absolute;

    top:50%;
    left:50%;

    transform:translate(-50%,-50%);

    color:white;

    font-size:19px;

    font-weight:600;

    letter-spacing:.5px;

}

.bottom{

    margin-top:auto;

    width:100%;

    display:flex;
    flex-direction:column;
    align-items:center;

    color:white;

}

.bottom p{

    font-size:21px;

    font-weight:300;

    letter-spacing:.6px;

    margin-bottom:15px;

    text-shadow:0 0 12px rgba(0,0,0,.7);

}

.arrow{

    font-size:34px;

    color:#c88cff;

    text-shadow:
    0 0 10px #b14cff,
    0 0 25px #8d4dff;

    animation:arrowmove 1.2s infinite;

}

@keyframes arrowmove{

    0%{

        transform:translateY(0);

    }

    50%{

        transform:translateY(-10px);

    }

    100%{

        transform:translateY(0);

    }

}
